@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none; 
}

#allstats::-webkit-scrollbar {
    display: none;
}

.card-bg {
  background-color: #27292b;
}
